.anreise_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.anreise_map {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.anreise_image {
    width: 550px;
    height: 350px;
    border-radius: 6px;
}

.anreise_contents p, .anreise_image p {
    margin: 0;
}

.anreise_contents a {
    color: #515439;
}