.anreise_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    gap: 20px;
    flex-wrap: wrap;
}

.anreise_map {
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
}

.anreise_image {
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 6px;
}

.anreise_contents p, .anreise_image p {
    margin: 0;
}

.anreise_contents a {
    color: #515439;
}

@media (max-width: 700px) {
    .anreise_map, .anreise_image { max-width: 100%; }
    .anreise_container { justify-content: center; }
}