.image-carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.image-container {
    padding: 40px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-radius: 17px;
}

.image-box {
    display: flex;
    flex-direction: column;
}

.image-box h4 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image {
    width: 350px;
    height: 500px;
    border-radius: 12px;
}