.image-carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.image-container {
    padding: 40px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
}

.image-box {
    display: flex;
    flex-direction: column;
}

.image {
    width: 350px;
    height: 500px;
    border-radius: 6px;
}

@media (max-width: 500px) {
    /* .image-carousel-container {
        gap: 20px;
    } */

    .image-container {
        padding: 20px;
        gap: 20px;
    }

    .image {
        width: 250px;
        height: 357px;
    }
}