.intro {
    font-size: 1.562rem;

    @media (max-width: 500px) {
        font-size: 1.248rem;
    }
}

.box {
    max-width: 30%;
    justify-content: center;

    @media (max-width: 500px) {
        max-width: 100%;
    }
}

.welcome-image {
    width: 450px;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 6px;
}

@media (max-width: 500px) {
    .welcome-image {
        width: auto;
    }
}

@media (min-width: 501px) and (max-width: 950px) {
    .welcome-image {
        width: 50%;
    }
}