/* App.css */
body {
  font-family: 'Jomolhari', serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: 'Jomolhari', serif;
}

.section {
  width: 100%;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}