/* App.css */
@font-face {
  font-family: 'Aligra';
  src: url('./assets/fonts/Aligra.otf') format('opentype');
}

@font-face {
  font-family: 'BauhausRegular';
  src: url('./assets/fonts/BauhausRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Broske';
  src: url('./assets/fonts/Broske-2vRAW.otf') format('opentype');
}

@font-face {
  font-family: 'Daisya';
  src: url('./assets/fonts/Daisya.otf') format('opentype');
}

@font-face {
  font-family: 'SunrayAuraRegular';
  src: url('./assets/fonts/SunrayAuraRegular-yYonm.otf') format('opentype');
}

:root {
  --font-heading: 'SunrayAuraRegular', serif;
  --font-body: 'SunrayAuraRegular', serif;
  --font-heading-color: #203838;
  --font-body-color: #274444;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding: 0px;
}

@media (max-width: 500px) {
  body {
    padding: 0px 17px 27px 17px;
  }
}

@media (min-width: 501px) and (max-width: 1300px) {
  body {
    padding-left: calc(17px + (120 - 17) * ((100vw - 500px) / (1300 - 500)));
    padding-right: calc(17px + (120 - 27) * ((100vw - 500px) / (1300 - 500)));
    padding-bottom: calc(27px + (70 - 17) * ((100vw - 500px) / (1300 - 500)));
  }
}

@media (min-width: 1301px) {
  body {
    padding: 0px 120px 70px 120px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  color: var(--font-heading-color);
}

h1 {
  font-size: 3.125rem;
  margin: 0;

  @media (max-width: 500px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.1875rem;

  @media (max-width: 500px) {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.875rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;

  @media (max-width: 500px) {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.25rem;
  color: var(--font-body-color);

  @media (max-width: 500px) {
    font-size: 1.1rem;
  }
}

a {
    color: #702963;
}

.section {
  width: 100%;
  margin: 60px 0;

  @media (max-width: 500px) {
    margin: 30px 0;
  }
}

.underline {
  width: 50px;
  height: 5px;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  background-color: #ccb490;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;

  @media (max-width: 750px){
    flex-direction: column;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.gap-30 {
  gap: 30px;

  @media (max-width: 500px) {
    gap: 0px;
  }
}

.width-60 {
  width: 60%;

  @media (max-width: 750px){
    width: 100%;
  }
}