/* App.css */
@font-face {
  font-family: 'Aligra';
  src: url('./assets/fonts/Aligra.otf') format('opentype');
}

@font-face {
  font-family: 'BauhausRegular';
  src: url('./assets/fonts/BauhausRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Broske';
  src: url('./assets/fonts/Broske-2vRAW.otf') format('opentype');
}

@font-face {
  font-family: 'Daisya';
  src: url('./assets/fonts/Daisya.otf') format('opentype');
}

@font-face {
  font-family: 'SunrayAuraRegular';
  src: url('./assets/fonts/SunrayAuraRegular-yYonm.otf') format('opentype');
}

:root {
  --font-heading: 'SunrayAuraRegular', serif;
  --font-body: 'SunrayAuraRegular', serif;
  --font-heading-color: #203838;
  --font-body-color: #274444;
}

body {
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  padding: 0px 120px 70px 120px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-heading);
  color: var(--font-heading-color);
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 20px;
  color: var(--font-body-color);
}

a {
    color: #702963;
}

.section {
  width: 100%;
  margin: 60px 0;
}

.underline {
  width: 50px;
  height: 5px;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  background-color: #ccb490;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.max-text-width {
  max-width: 1000px;
  padding: 80px;
}

.gap-30 {
  gap: 30px
}

.width-60 {
  width: 60%;
}