.image-box-container {
    padding: 40px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    border-radius: 10px;
}

.image-box-image {
    width: 250px;
    height: 250px;
    border-radius: 6px;
}